/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --main-font: 'Montserrat', sans-serif;
    --second-font: 'Trispace', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

html, body {
    height: 100%;
}
html,body {
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; 
    padding-right: 1.5rem;
}

.page-header__item {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 200px;
                    flex: 0 1 200px; 
                    height: 200px;  
}



.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
.navigation-list {
    margin-right: 1rem;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
}
.navigation-list li {
    margin: 1rem 0;
    font-size: 2rem;
    list-style: none;
}

.navigation-list a {
    color: white;
    font-family: var(--main-font);
    text-decoration: none;

}


.navigation-list a:hover,
.navigation-list a:focus {
    -webkit-filter: drop-shadow(0px 6px 8px #ffffff);
            filter: drop-shadow(0px 6px 8px #ffffff);
    -webkit-transition-duration: .7s;
         -o-transition-duration: .7s;
            transition-duration: .7s;
}

.navigation-list__item .nav_border {
    display: inline-block;
    padding: 2px 0px 4px;
    margin: 0px 8px 0px;
    position: relative;
}

.navigation-list__item .nav_border:before {

    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    border-bottom: 3px solid white;
    bottom: 2px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.45s ease-in-out;
    transition: -webkit-transform 0.45s ease-in-out;
    -o-transition: transform 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.navigation-list__item:hover .nav_border:before,
.navigation-list__item:focus  .nav_border:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

#play-music {
    font-family: var(--main-font);
    font-weight: 700;
    color: white;
    border-radius: 6px;
    text-align: center;
    font-size: 1rem;
    width: 10%;
    margin: 0;
    float: right;
}
#play-music h3 {
    margin-top: 0;
    margin-bottom: .75rem;
}

.fa-play {
    margin-right: 1rem;
    cursor: pointer;

}
.fa-play:hover {
    filter: drop-shadow(0px 11px 11px #ffffff);
    transition-duration: .7s;
}

.fa-pause {
    cursor:pointer;
}

.fa-pause:hover {
    filter: drop-shadow(0px 11px 11px #ffffff);
    transition-duration: .7s;
}

#top {
    background-image: -o-linear-gradient( rgba(8, 8, 37, 0.8), rgba(0, 15, 80, 0.0.765)), url("../img/pic2.jpg");
    background-image: -o-linear-gradient( rgba(8, 8, 37, 0.8), rgba(0, 15, 80, 0.765)), url("../img/pic2.jpg");
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(8, 8, 37, 0.8)), to(rgba(0, 15, 80, 0.765))), url("../img/pic2.jpg");
    background-image: linear-gradient( rgba(8, 8, 37, 0.8), rgba(0, 15, 80, 0.765)), url("../img/pic2.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 900px;
    width: 100%;
    height: 100%;
    height: 100vh;
}

.profile {
    text-align: center;
    color: white;
}

.profile__name {
    padding-top: 7rem;
    font-size: 4rem;
    font-family: var(--main-font);
}
.profile__dev {
    font-size: 2rem;
    font-family: var(--main-font);

}
.social-media {
    margin-top: 8rem;
    padding-bottom: 2rem;
    -webkit-padding-start: 0%;
            padding-inline-start: 0%;
}
.social-media li {
    display: inline-block;
    list-style: none;
    margin: 0 6%;
}

.social-media img {
    width: 90px;
    height: 90px;
}
.social-media__icon:hover,
.social-media__icon:focus {
    -webkit-filter: drop-shadow(0px 11px 11px #ffffff);
            filter: drop-shadow(0px 11px 11px #ffffff);
    -webkit-transition-duration: .7s;
         -o-transition-duration: .7s;
            transition-duration: .7s;
}


/*ABOUT ME SECTION*/

#about {
    background: rgb(39, 38, 38);
    color: white;
    text-align: center;
    padding-bottom: 4rem;
    
}

.about__flex {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-pack: distribute;
    justify-content: space-around;
margin-bottom: 4rem;

}

.about__title {
    font-family: var(--main-font); 
    margin-top: 0;
    padding-top: 3rem;
    font-size: 3rem;
}
.about__descr {
    font-family: var(--second-font);
    width: 50%;
    font-size: 2rem;
    text-align: left !important;
    
}
.portrait {
    width: 300px;
    border-radius: 50%;
    height: 100%;
    margin-top: 30px;
}

.about__skills {
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;

}

.about__skills--title {
    font-family: var(--main-font);
    font-size: 2.25rem;
}

.about__skills--list {
    list-style: none;
    font-family: var(--second-font);
    padding-inline-start: 0;
    margin: 2rem;
    font-size: 1.35rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.logo {
    width: 100px;
    height: 100px;
}

.button {
    width: 15%;
    padding: 12px 24px;
    border: 2px white solid;
    text-align: center;
    
}

#about .button {
    text-align: center;
    color: white;
    font-family: var(--main-font);
    margin-top: 3rem;
    text-decoration: none;
    font-size: 1.25rem;
    
}
#about .button:hover,
#about .button:focus{
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
    text-decoration: underline;
    color: rgb(17, 91, 201);
    border-color:rgb(17, 91, 201);
}

/*MY WORK SECTION*/

/* modal part */
#modal-background {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;  
    display: none; 
  }
  #modal {
      color: white;
    background-color: rgb(39, 38, 38);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  /*👉  width: 50%;👈*/
    /*👉padding: 10px 20px;👈*/
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 1.5rem;
    font-family: var(--main-font);
    animation-name: animatemodal;
    animation-duration: 0.4s;
    max-height: calc(100vh - 110px);
    overflow-y: auto;
  }
  .modal-img {
      max-width: 100%;
      padding: 1rem;
  }
  .modal-title {
      text-align: center;
    
  }
  .modal-text {
      font-size: 1rem;
      padding: 1rem;
  }
  .modal-text h3  {
      margin-bottom: .5rem;
  }
  .modal-text p {
      margin-top: 0;
      margin-bottom: 2rem;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
    width: 100%;
  }
.buttons a {
    text-decoration: none;
    color: rgb(39, 38, 38);
    background-color: white;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: 700;
  
}
.buttons a:hover,
.buttons a:focus {
    background-color: rgb(39, 38, 38);
    color: white;
    transition: .5s;
}

  
#close-btn {
    align-self: flex-end;
    padding: .5rem;
  }
  
  #close-btn:hover {
    cursor: pointer;
    
  }
  
  /* modal part end */



#work {
    text-align: center;
    margin-bottom: 5rem;
}

h1 {
    font-family: var(--main-font);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 3rem;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
   /*👉 padding: 0 4px;👈*/
  }
  
  .column {
    flex: 100%;
    max-width: 100%;
  }
  
  .column img {
    vertical-align: middle;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
  }
  
  .container:hover .overlay {
    opacity: 0.775;
  }
  
  .text {
      font-family: var(--main-font);
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 480px) {
      .column {
        flex: 50%;
        max-width: 50%;
      }
  }
  
  
  /* Desktop Styles */
  @media only screen and (min-width: 1024px) {
      .column {
        flex: 33.3%;
       /*👉 max-width: 33.3%;👈*/
      }
  }


#contact {
    background-image: -o-linear-gradient( rgba(78, 3, 85, 0.75), rgba(9, 41, 110, 0.30)), url("../img/abstract-dark.jpg");
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(78, 3, 85, 0.75)), to(rgba(9, 41, 110, 0.30))), url("../img/abstract-dark.jpg");
    background-image: linear-gradient( rgba(78, 3, 85, 0.75), rgba(9, 41, 110, 0.30)), url("../img/abstract-dark.jpg");
    background-size: cover;
    background-position: center;
    
}
.contact__title {
    color: white;
    text-align: center;
    font-family: var(--main-font);
    font-size: 3rem;
    padding-top: 2rem;
    margin-top: 0rem;;
    
}
.contact__title2 {
    color: white;
    text-align: center;
    font-family: var(--main-font);
    padding-bottom: 1.75rem;
    font-size: 1.35rem;
}

form {
    text-align: center;
}

label {
    color: white;
    font-family: var(--second-font);
    font-size: 1.25rem;
}
input:focus,
textarea:focus {
    box-shadow:0px 0px 25px 6px white;

}

textarea {
    width: 600px;
    height: 300px;
    margin-right: 6.7rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
}
::-webkit-input-placeholder {
    opacity: 0;
}
::-moz-placeholder {
    opacity: 0;
}
:-ms-input-placeholder {
    opacity: 1;
}
::-ms-input-placeholder {
    opacity: 0;
}
::placeholder {
    opacity: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
input[type="text"],
[type="email"] {
background-color: rgba(255, 255, 255, 0.15);
border: 2.5px solid white;
width: 600px;
height: 45px;
font-weight: bolder;
font-size: 1.25rem;
color: white;
}

.form__name {
    margin-right: 7.925rem;
    
}
.form__email {
    margin-right: 4.6rem;
}
.form__message label {
    vertical-align: top;
}
.form__name,
.form__email,
.form__message {
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.form__button {
    width: 600px;
    padding: 10px 24px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px white solid;
    text-align: center;
    margin-bottom: 1rem;
    font-family: var(--main-font);
    font-size: 2rem;
    cursor: pointer;
    color: white;
    -webkit-appearance: none;
}

.form__button:hover,
.form__button:focus {
    background: transparent;
    color: white;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
}

.form__button:active {
    text-decoration: none;
}

.form__sendmsg {
    display: inline-block;
    padding: 6px 0px 7px;
    margin: 0px 8px 0px;
    position: relative;
}

.form__sendmsg:before {

    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    border-bottom: 3px solid white;
    bottom: 2px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.45s ease-in-out;
    transition: -webkit-transform 0.45s ease-in-out;
    -o-transition: transform 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.form__button:hover .form__sendmsg:before,
.form__button:focus .form__sendmsg:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.page-footer {
    text-align: center;
}

.social-media2 {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    margin-top: 5rem;
    padding-bottom: 2rem;
}


.social-media2 li {
    display: inline-block;
    list-style: none;
    margin: 0 2.5%;
}

.top_link_position {
    display: block;
	position: fixed;
    bottom: 0%;
    right: .20%;
    z-index: 600;
}

.top_btn {
	border: 1.5px solid white;
	background: rgb(39, 38, 38);
	padding: .7rem .7rem;
	color: white;
	font-weight: bolder;
	text-transform: uppercase;
}
.top_btn:visited {
    background: rgb(39, 38, 38);
    color: white;
} 
.top_btn:hover,
.top_btn:focus {
    background: -o-linear-gradient(rgba(167,167,167,.97), rgba(167,167,167,.97));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(167,167,167,.97)), to(rgba(167,167,167,.97)));
    background: linear-gradient(rgba(167,167,167,.97), rgba(167,167,167,.97));
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	cursor: pointer;
	color: black;
}

.top_btn:hover,
.top_btn:focus,
.top_btn:active {
    outline: 0;
}

.top_btn:active {
    border: 1.5px solid white;
	background: rgb(39, 38, 38);
	color: white;
	font-weight: bolder;
	text-transform: uppercase;
}


.back-to-top {
    position: fixed;
    bottom: 0em;
    right: 0px;
    text-decoration: none;
    font-size: 12px;
    padding: .35em;
    display: none;
}
.back-to-top:hover .fa-2x,
.back-to-top:focus .fa-2x {
    font-size: 3em;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
}

.built {
    color: white;
    text-align: center;
    margin: 0;
    font-size: smaller;
    padding-bottom: 4px;
    font-family: var(--second-font);
}

@keyframes animatemodal {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 50%;
      opacity: 1;
    }
  }

@media (hover: hover) {
    .top_btn:hover,
    .top_btn:focus {
        background: -o-linear-gradient(rgba(167,167,167,.97), rgba(167,167,167,.97));
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(167,167,167,.97)), to(rgba(167,167,167,.97)));
        background: linear-gradient(rgba(167,167,167,.97), rgba(167,167,167,.97));
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
	    cursor: pointer;
	    color: black;
    }
    .back-to-top:hover .fa-2x,
    .back-to-top:focus .fa-2x {
        font-size: 3em;
        -webkit-transition-duration: .5s;
             -o-transition-duration: .5s;
                transition-duration: .5s;
    }
}


@media only screen and (max-width: 1460px) {
    .card__img {
            width: 500px;
            height: 305px; 
          display: inline-block;
          transition: opacity ease-out 450ms;
        }
}
@media only screen and (max-width: 1300px) {
    .profile__name {
        padding-top: 7rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 4rem;
    }
}
@media only screen and (max-width: 1200px) {
    #top {
        background-attachment: unset;
        min-height: 800px;
        
    }
     .page-header__item {
        width: 200px;
        height: 200px;
    } 
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
    }
    
#play-music {
    font-family: var(--main-font);
    font-weight: 700;
    color: white;
    border-radius: 6px;
    text-align: center;
    font-size: 1rem;
    width: 10%;
    margin: 0;
    float: right;
    margin-top: 0;
}
#play-music h3 {
    margin-top: 0;
    margin-bottom: .75rem;
}

.fa-play {
    margin-right: 1rem;
    cursor: pointer;
}
.fap-pause {
    cursor:pointer;
}
    .profile__name {
        font-size: 4rem;
        padding-top: 3rem;
        
    }
    .profile__dev {
        font-size: 1.75rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 82px;
        height: 82px;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__descr {
        font-size: 1.5rem;
        width: 70%;
    }
    #about .button {
        font-size: 1.5rem;
    }
    .work__title {
        font-size: 3rem;
    }

    .grid__item--descr {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .card__img {
            width: 400px;
            height: 255px; 
          display: inline-block;
          transition: opacity ease-out 450ms;
        }


    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 500px;
    height: 45px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 500px;
        height: 225px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: 1rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 500px;
        font-size: 1.25rem;
        padding: 8px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:62px;
        height: 62px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }

}
@media only screen 
and (min-width: 1366px)
and (max-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1.5) {
    #top {
        
        width: 100%;
        height: 100%;
    }
    .fa-2x {
        font-size: 3em;
    }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    #top {
        min-height: 800px;
    }
    

    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 2.5rem;
    }
    .profile__name {
        font-size: 4.25rem;
        padding-top: 25rem;
    }
    .profile__dev {
        font-size: 2rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 100px;
        height: 100px;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__descr {
        font-size: 1.5rem;
        width: 70%;
    }
    #about .button {
        font-size: 1.5rem;
    }
    .work__title {
        font-size: 3rem;
    }

    .grid__item--descr {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 500px;
    height: 45px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 500px;
        height: 225px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: 1.1rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 500px;
        font-size: 1.25rem;
        padding: 8px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:62px;
        height: 62px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
  }
@media(hover: none) and (pointer: coarse) {
    .top_btn:hover {
        background: rgb(39, 38, 38);
        color: white;
    }
    .back-to-top:hover .fa-2x, .back-to-top:focus .fa-2x {
        font-size: 2em;
        -webkit-transition-duration: .5s;
             -o-transition-duration: .5s;
                transition-duration: .5s;
    }

}

@media only screen and (max-width: 1023px) {
    #top {
        min-height: 800px;
        
    }
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
    }
    .profile__name {
        font-size: 4rem;
        padding-top: 3rem;
    }
    .profile__dev {
        font-size: 1.75rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 82px;
        height: 82px;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__descr {
        font-size: 1.5rem;
        width: 70%;
    }
    #about .button {
        font-size: 1.5rem;
    }
    .work__title {
        font-size: 3rem;
    }

  
    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 500px;
    height: 45px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 500px;
        height: 225px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: 1rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 500px;
        font-size: 1.25rem;
        padding: 8px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:62px;
        height: 62px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
}
@media only screen and (max-width: 1000px) {
    #play-music {
        width: 20%;
    }
  
}

@media only screen and (max-width: 800px) {
    #top {
        min-height: 800px;
    }
   
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
    }
    #play-music {
        width: 25%;
    }
    .profile__name {
        font-size: 4rem;
        padding-top: 3rem;
    }
    .profile__dev {
        font-size: 1.75rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 82px;
        height: 82px;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__descr {
        font-size: 1.5rem;
        width: 70%;
    }
    #about .button {
        font-size: 1.5rem;
    }
    .work__title {
        font-size: 3rem;
    }
    

    #modal {
        width: 80%;
    }


    #invisible-flexItem {
        display: none;
    }
    
    .grid__item--descr {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 500px;
    height: 45px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 500px;
        height: 225px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: 1rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 500px;
        font-size: 1.25rem;
        padding: 8px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:62px;
        height: 62px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
}
@media only screen and (max-width: 700px) {
    #top {
        min-height: 800px;
    }
   
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
    }
    .profile__name {
        font-size: 3.5rem;
        padding-top: 3rem;
    }
    .profile__dev {
        font-size: 1.5rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 82px;
        height: 82px;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__descr {
        font-size: 1.5rem;
        width: 70%;
    }
    #about .button {
        font-size: 1.5rem;
    }
    .work__title {
        font-size: 3rem;
    }


    .grid__item--descr {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 450px;
    height: 40px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 450px;
        height: 225px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: .90rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 450px;
        font-size: 1.25rem;
        padding: 6px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:62px;
        height: 62px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
}

@media only screen and (max-width: 650px) {
    #play-music {
        width: 60%;
        padding-left: 7rem;
    }
}

@media only screen and (max-width: 600px) {
    #play-music {
        width: 35%;
        padding-left: 0rem;
    }
    #top {
        min-height: 600px;
    }
    .page-header__item {
        width: 100px;
        height: 100%;
    }
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
    }
    .profile__name {
        font-size: 2rem;
        padding-top: 2rem;
    }
    .profile__dev {
        font-size: 1.5rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 72px;
        height: 72px;
    }
    .about__title {
        font-size: 2.5rem;
    }
    .about__descr {
        font-size: 1.25rem;
        width: 70%;
    }
    .work__title {
        font-size: 2.5rem;
    }

        .modal-title {
        font-size: 1.5rem;
    }
    .modal-text {
        font-size: .9rem;
    }

    .buttons a {
        font-size: 1.25rem;
        line-height: 3.5rem;
    }
   
    .card__title1 {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 0;
      }
      .card__title2 {
        font-size: 1.15rem;
        color: white;
        margin-bottom: 0;
      }
      .card__body2 {
          font: .75rem;
      }

    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 375px;
    height: 35px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 375px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: .90rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 375px;
        font-size: 1.15rem;
        padding: 6px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:52px;
        height: 52px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
} 

@media only screen and (max-width: 480px) {
    .grid {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 454px) {
    #play-music {
        width: 60%;
    }
    .grid {
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 410px) {
    .remodal-confirm, .remodal-cancel {
        padding: 12px 0px!important;
        font-weight: 600!important;
    }
    
}
@media only screen and (max-width: 400px) {
   
    #top {
        min-height: 600px; 
        
    }
    .page-header__item {
        width: 100px;
        height: 100%;
    }
    .navigation-list {
        margin-right: .5rem;
    }
    .navigation-list__item {
        font-size: 1.75rem;
        
    }
    .navigation-list li {
        margin: .75rem .25rem;
    }
    .profile__name {
        font-size: 1.85rem;
        padding-top: 2rem;
        
    }
    .profile__dev {
        font-size: 1.25rem;
    }
    .social-media {
        gap: 3rem;
        margin-top: 3.5rem;
    }
    
    .social-media img {
        width: 90px;
        height: 90px;
    }
    .about__title {
        font-size: 2.5rem;
    }
    .about__descr {
        font-size: 1.1rem;
        width: 70%;
    }
    .work__title {
        font-size: 2.5rem;
    }
    .buttons a {
        font-size: 1rem;
        line-height: 3rem;
    }
    .card__img {
        width: 300px;
        height: 195px;
    }
    .card__title1 {
        font-size: 1rem;
        color: white;
        margin-bottom: 0;
      }
      .card__title2 {
        font-size: .85rem;
        color: white;
        margin-bottom: 0;
      }
      .card__body {
          font-size: .7rem;
      }
      .card__body2 {
          font-size: .7rem;
      }
    textarea {
        width: 250px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: .90rem!important;
        margin-right: 0;
    }
input[type="text"],
[type="email"] {
background-color: rgba(255, 255, 255, 0.15);
border: 2.5px solid white;
width: 250px;
height: 35px;
font-weight: bolder;
font-size: 1rem;
color: white;
}
.form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
.form__name {
    margin-right: 0;
}
.form__email {
    margin-right: 0;
}
.form__button {
    width: 250px;
    font-size: 1.15rem;
    padding: 6px 24px;
}
.social-media img {
    width: 62px;
    height: 62px;
}
.social-media2 img {
    width:52px;
    height: 52px;
}
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    } 
}
     
    
@media only screen and (max-width: 359px) {
    #top {
        min-height: 600px; 
        /* min-height: auto;  change by amit */
    }
    
    .page-header {
        padding-right: 1rem;
    }
    .page-header__item {
        width: 100px;
        /* flex: 0 1 200px; */
        height: 100%;
    }
    .navigation-list__item {
        font-size: 1.25rem;
    }
    .navigation-list {
        margin-right: 0rem;
    }
    .navigation-list li {
        margin: .25rem .25rem;
    }
    .profile__name {
        font-size: 1.85rem;
        padding-top: 6%;
    }
    .profile__dev {
        font-size: 1rem;
    }
    .social-media {
        gap: 3rem;
        margin-top: 3.5rem;
    }
    .about__title {
        font-size: 2.25rem;
    }
    .about__descr {
        font-size: 1.05rem;
        width: 70%;
    }
    .work__title {
        font-size: 2.25rem;
    }
    #about .button {
        font-size: 1rem;
    }
/*👉    .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
                    grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }👈*/
    .grid__item--title {
        font-size: 1.5rem;
    }
    .grid__item--descr {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    .contact__title {
        font-size: 2.25rem;
    }
    .contact__title2 {
        font-size: 1.25rem;
    }
    textarea {
        width: 250px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: .90rem!important;
        margin-right: 0;
    }
input[type="text"],
[type="email"] {
background-color: rgba(255, 255, 255, 0.15);
border: 2.5px solid white;
width: 250px;
height: 35px;
font-weight: bolder;
font-size: 1rem;
color: white;
}
.form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
.form__name {
    margin-right: 0;
}
.form__email {
    margin-right: 0;
}
.form__button {
    width: 250px;
    font-size: 1.15rem;
    padding: 6px 24px;
}
.social-media img {
    width: 62px;
    height: 62px;
}
.social-media2 img {
    width:52px;
    height: 52px;
}
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
} 

@media only screen and (max-width: 300px) {
    .card__img {
        width: 250px;
        height: 150px;
    }
   
}
@media only screen and (max-width: 255px) {
    #top {
        min-height: 500px;
        /* min-height: auto;  change by amit */
    }
    .page-header {
        padding-right: 1rem; 
    }
    .page-header__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 .875 200px;
                flex: 0 .875 200px;
        height: 112px;
    }
    .navigation-list__item {
        font-size: 1rem;
    }
    .navigation-list {
        margin-right: 0rem;
    }
    .navigation-list li {
        margin: .15rem .15rem;
    }
    .profile__name {
        font-size: 1.5rem;
        padding-top: 3rem;
    }
    .profile__dev {
        font-size: .85rem;
    }
    .social-media {
        gap: 2rem;
        margin-top: 3.5rem;
        
    }
    .social-media__icon {
        width: 52px;
        height: auto;
    } 
    
    .about__title {
        font-size: 1.5rem;
    }
    .about__descr {
        font-size: .90rem;
        width: 70%;
    }
    .work__title {
        font-size: 1.5rem;
    }
    #about .button {
        font-size: .75rem;
    }
 /*👉   .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
                    grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }👈*/
    .grid__item--title {
        font-size: 1.25rem;
    }
    .grid__item--descr {
        font-size: .80rem;
        margin-bottom: 3rem;
    }
    .contact__title {
        font-size: 1.5rem;
    }
    .contact__title2 {
        font-size: .90rem;
    }
    textarea {
        width: 200px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: .90rem!important;
        margin-right: 0;
    }
input[type="text"],
[type="email"] {
background-color: rgba(255, 255, 255, 0.15);
border: 2.5px solid white;
width: 200px;
height: 35px;
font-weight: bolder;
font-size: 1rem;
color: white;
}
.form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
.form__name {
    margin-right: 0;
}
.form__email {
    margin-right: 0;
}
.form__button {
    width: 200px;
    font-size: 1.15rem;
    padding: 6px 24px;
}
.social-media2 {
    gap: 2rem;
}
.social-media2 img {
    width:46px;
    height: 46px;
}
.built {
    font-size: .65rem;
}
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
}





