
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --main-font: 'Quicksand', sans-serif;
    --second-font: 'Trispace', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

html, body {
    height: 100%;
}
html,body {
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; 
    padding-right: 1.5rem;
}

.page-header__item {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 200px;
                    flex: 0 1 200px;   
}



.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
.navigation-list {
    margin-right: 1rem;
    /* margin-top: 5rem; */
    -webkit-padding-start: 0;
            padding-inline-start: 0;
}
.navigation-list li {
    margin: 1rem 0;
    font-size: 2rem;
    list-style: none;
}

.navigation-list a {
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
.navigation-list a:hover,
.navigation-list a:focus {
    text-decoration: underline; 
}

#top {
    background-image: -o-linear-gradient( rgba(8, 8, 37, 0.8), rgba(0, 15, 80, 0.0.765)), url("../img/pic2.jpg");
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(8, 8, 37, 0.8)), to(rgba(0, 15, 80, 0.0.765))), url("../img/pic2.jpg");
    background-image: linear-gradient( rgba(8, 8, 37, 0.8), rgba(0, 15, 80, 0.765)), url("../img/pic2.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 900px;
    width: 100%;
    height: 100%;
    height: 100vh;
    /* height: calc(var(--vh, 1vh) * 100);  */
}

.profile {
    text-align: center;
    color: white;
}

.profile__name {
    padding-top: 12rem;
    font-size: 4rem;
    font-family: 'Quicksand', sans-serif;
}
.profile__dev {
    font-size: 2rem;
    font-family: 'Trispace', sans-serif;
}
.social-media {
    margin-top: 8rem;
    padding-bottom: 2rem;
    padding-inline-start: 0%;
}
.social-media li {
    display: inline-block;
    list-style: none;
    margin: 0 6%;
}

.social-media img {
    width: 90px;
    height: 90px;
}
.social-media__icon:hover {
    filter: drop-shadow(1px 11px 11px #ffffff);
}
.social-media__icon:focus {
    filter: drop-shadow(1px 11px 11px #ffffff);
}
.aboutbtn {
    margin-top: 5.5rem;
    padding: 16px 52px;
    font-size: 1.35rem;
    border: white 2px solid;
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
}
.aboutbtn:hover,
.aboutbtn:focus {
    text-decoration: underline;
    border: white solid 2px ;
    -webkit-transition: .75s;
    -o-transition: .75s;
    transition: .75s;
}

#about {
    background: rgb(39, 38, 38);
    color: white;
    text-align: center;
    padding-bottom: 4rem;
    
}

.about__flex {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-pack: distribute;
    justify-content: space-around;
margin-bottom: 4rem;

}

.about__title {
    font-family: var(--main-font);
    margin-top: 0;
    padding-top: 3rem;
    font-size: 3rem;
}
.about__descr {
    font-family: var(--second-font);
    width: 50%;
    font-size: 2rem;
    text-align: left !important;
    
}
.portrait {
    width: 300px;
    border-radius: 50%;
    height: 100%;
    margin-top: 30px;
}

.button {
    width: 15%;
    padding: 12px 24px;
    border: 2px white solid;
    text-align: center;
    
}

#about .button {
    text-align: center;
    color: white;
    font-family: var(--main-font);
    margin-top: 3rem;
    text-decoration: none;
    font-size: 1.25rem;
    
}
#about .button:hover,
#about .button:focus{
    text-decoration: underline;
    color: rgb(17, 91, 201);
    border-color:rgb(17, 91, 201);
}

#work {
    text-align: center;
    background-color: rgb(253, 251, 247);
}

.work__title {
    font-family: var(--main-font);
    font-size: 3rem;
    margin: 0;
    padding-top: 3rem;
    
}
.grid {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 1.75rem;
       -moz-column-gap: 1.75rem;
            column-gap: 1.75rem;
    row-gap: 1.75rem;
        grid-template-areas: "griditem1 griditem2";
    justify-items: center;  
    margin-right: 1.75rem;
    margin-left: 1.75rem;
                  
}

.grid__item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: griditem1;
}
.grid__item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: griditem2;
    
}

.grid__item--title {
    font-family: var(--main-font);
    font-size: 2rem;
}

.grid__item--img img {
    max-width: 100%;
    max-height: 383px;
}

.grid__item--descr {
    color: black;
    font-family: var(--second-font);
    font-size: 1.25rem;
} 


#contact {
    background-image: -o-linear-gradient( rgba(78, 3, 85, 0.75), rgba(9, 41, 110, 0.30)), url("../img/abstract-dark.jpg");
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(78, 3, 85, 0.75)), to(rgba(9, 41, 110, 0.30))), url("../img/abstract-dark.jpg");
    background-image: linear-gradient( rgba(78, 3, 85, 0.75), rgba(9, 41, 110, 0.30)), url("../img/abstract-dark.jpg");
    background-size: cover;
    background-position: center;
    
}
.contact__title {
    color: white;
    text-align: center;
    font-family: var(--main-font);
    font-size: 3rem;
    padding-top: 2rem;
    margin-top: 0rem;;
    
}
.contact__title2 {
    color: white;
    text-align: center;
    font-family: var(--main-font);
    padding-bottom: 1.75rem;
    font-size: 1.35rem;
}

form {
    text-align: center;
}

label {
    color: white;
    font-family: var(--second-font);
    font-size: 1.25rem;
}

textarea {
    width: 600px;
    height: 300px;
    margin-right: 6.7rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
}
::-webkit-input-placeholder {
    opacity: 0;
}
::-moz-placeholder {
    opacity: 0;
}
:-ms-input-placeholder {
    opacity: 1;
}
::-ms-input-placeholder {
    opacity: 0;
}
::placeholder {
    opacity: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
input[type="text"],
[type="email"] {
background-color: rgba(255, 255, 255, 0.15);
border: 2.5px solid white;
width: 600px;
height: 45px;
font-weight: bolder;
font-size: 1.25rem;
color: white;
}
.form__name {
    margin-right: 7.925rem;
    
}
.form__email {
    margin-right: 4.6rem;
}
.form__message label {
    vertical-align: top;
}
.form__name,
.form__email,
.form__message {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form__button {
    width: 600px;
    padding: 12px 24px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px white solid;
    text-align: center;
    margin-bottom: 1rem;
    font-family: var(--main-font);
    font-size: 2rem;
    cursor: pointer;
    color: white;
    -webkit-appearance: none;
    

}
.form__button:hover,
.form__button:focus {
    text-decoration: underline;
    background: transparent;
    color: white;
}
.form__button:active {
    text-decoration: none;
}

.page-footer {
    text-align: center;
}

.social-media2 {
    padding-inline-start: 0;
    margin-top: 5rem;
    padding-bottom: 2rem;
}


.social-media2 li {
    display: inline-block;
    list-style: none;
    margin: 0 2.5%;
}

.top_link_position {
    display: block;
	position: fixed;
    bottom: 0%;
    right: .20%;
    z-index: 600;
}

.top_btn {
	border: 1.5px solid white;
	background: rgb(39, 38, 38);
	padding: .7rem .7rem;
	color: white;
	font-weight: bolder;
	text-transform: uppercase;
}
.top_btn:visited {
    background: rgb(39, 38, 38);
    color: white;
} 
.top_btn:hover,
.top_btn:focus {
    background: linear-gradient(rgba(167,167,167,.97), rgba(167,167,167,.97));
    transition: all 0.5s ease-in-out;
	cursor: pointer;
	color: black;
}

.top_btn:hover,
.top_btn:focus,
.top_btn:active {
    outline: 0;
}

.top_btn:active {
    border: 1.5px solid white;
	background: rgb(39, 38, 38);
	color: white;
	font-weight: bolder;
	text-transform: uppercase;
}


.back-to-top {
    position: fixed;
    bottom: 0em;
    right: 0px;
    text-decoration: none;
    font-size: 12px;
    padding: .35em;
    display: none;
}
.back-to-top:hover .fa-2x,
.back-to-top:focus .fa-2x {
    font-size: 3em;
    transition-duration: .5s;
}

.built {
    color: white;
    text-align: center;
    margin: 0;
    font-size: smaller;
    padding-bottom: 4px;
    font-family: var(--second-font);
}

@media (hover: hover) {
    .top_btn:hover,
    .top_btn:focus {
        background: linear-gradient(rgba(167,167,167,.97), rgba(167,167,167,.97));
        transition: all 0.5s ease-in-out;
	    cursor: pointer;
	    color: black;
    }
    .back-to-top:hover .fa-2x,
    .back-to-top:focus .fa-2x {
        font-size: 3em;
        transition-duration: .5s;
    }
}
@media only screen and (max-width: 1300px) {
    .profile__name {
        padding-top: 7rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 4rem;
    }
}


@media only screen and (max-width: 1200px) {
    #top {
        background-attachment: unset;
        min-height: 800px;
        
    }
    /* .page-header__item {
        width: 100px;
        height: auto;
    } */
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
    }
    .profile__name {
        font-size: 4rem;
        padding-top: 3rem;
        
    }
    .profile__dev {
        font-size: 1.75rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 82px;
        height: 82px;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__descr {
        font-size: 1.5rem;
        width: 70%;
    }
    #about .button {
        font-size: 1.5rem;
    }
    .work__title {
        font-size: 3rem;
    }
    .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
            grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }
    .grid__item--descr {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 500px;
    height: 45px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 500px;
        height: 225px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: 1rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 500px;
        font-size: 1.25rem;
        padding: 8px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:62px;
        height: 62px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }

}
@media only screen 
and (min-width: 1366px)
and (max-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1.5) {
    #top {
        
        width: 100%;
        height: 100%;
    }
    .fa-2x {
        font-size: 3em;
    }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    #top {
        min-height: 800px;
    }
    
    .page-header__item {
        -webkit-box-flex: .25;
            -ms-flex: .25 1 100px;
                flex: .25 1 100px;
    }
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 2.5rem;
    }
    .profile__name {
        font-size: 4.25rem;
        padding-top: 25rem;
    }
    .profile__dev {
        font-size: 2rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 100px;
        height: 100px;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__descr {
        font-size: 1.5rem;
        width: 70%;
    }
    #about .button {
        font-size: 1.5rem;
    }
    .work__title {
        font-size: 3rem;
    }
    .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
            grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }
    .grid__item--descr {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 500px;
    height: 45px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 500px;
        height: 225px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: 1.1rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 500px;
        font-size: 1.25rem;
        padding: 8px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:62px;
        height: 62px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
  }
@media(hover: none) and (pointer: coarse) {
    .top_btn:hover {
        background: rgb(39, 38, 38);
        color: white;
    }
    .back-to-top:hover .fa-2x, .back-to-top:focus .fa-2x {
        font-size: 2em;
        transition-duration: .5s;
    }

}
@media only screen and (max-width: 1023px) {
    #top {
        min-height: 800px;
        
    }
    /* .page-header__item {
        width: 100px;
        height: auto;
    } */
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
    }
    .profile__name {
        font-size: 4rem;
        padding-top: 3rem;
    }
    .profile__dev {
        font-size: 1.75rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 82px;
        height: 82px;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__descr {
        font-size: 1.5rem;
        width: 70%;
    }
    #about .button {
        font-size: 1.5rem;
    }
    .work__title {
        font-size: 3rem;
    }
    .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
            grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }
    .grid__item--descr {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 500px;
    height: 45px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 500px;
        height: 225px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: 1rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 500px;
        font-size: 1.25rem;
        padding: 8px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:62px;
        height: 62px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
}
@media only screen and (max-width: 800px) {
    #top {
        min-height: 800px;
    }
    /* .page-header__item {
        width: 100px;
        height: auto;
    } */
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
    }
    .profile__name {
        font-size: 4rem;
        padding-top: 3rem;
    }
    .profile__dev {
        font-size: 1.75rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 82px;
        height: 82px;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__descr {
        font-size: 1.5rem;
        width: 70%;
    }
    #about .button {
        font-size: 1.5rem;
    }
    .work__title {
        font-size: 3rem;
    }
    .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
            grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }
    .grid__item--descr {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 500px;
    height: 45px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 500px;
        height: 225px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: 1rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 500px;
        font-size: 1.25rem;
        padding: 8px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:62px;
        height: 62px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
}
@media only screen and (max-width: 700px) {
    #top {
        min-height: 800px;
    }
    /* .page-header__item {
        width: 100px;
        height: auto;
    } */
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
    }
    .profile__name {
        font-size: 3.5rem;
        padding-top: 3rem;
    }
    .profile__dev {
        font-size: 1.5rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 82px;
        height: 82px;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__descr {
        font-size: 1.5rem;
        width: 70%;
    }
    #about .button {
        font-size: 1.5rem;
    }
    .work__title {
        font-size: 3rem;
    }
    .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
            grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }
    .grid__item--descr {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 450px;
    height: 40px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 450px;
        height: 225px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: .90rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 450px;
        font-size: 1.25rem;
        padding: 6px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:62px;
        height: 62px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
}
@media only screen and (max-width: 600px) {
    #top {
        min-height: 600px;
        /* min-height: auto;  change by amit */ 
    }
	/* .page-header{
		padding:0 0.6rem;   change by amit 
	} */
    .page-header__item {
        width: 100px;
        height: 100%;
    }
    .navigation-list {
        margin-right: .75rem;
    }
    .navigation-list li {
        margin-bottom: 1.75rem;
        font-size: 1.75rem;
    }
    .profile__name {
        font-size: 2rem;
        padding-top: 8rem;
    }
    .profile__dev {
        font-size: 1.5rem;
    }
    .social-media {
        gap: 5rem;
        margin-top: 3.5rem;
    }
    .social-media img {
        width: 72px;
        height: 72px;
    }
    .about__title {
        font-size: 2.5rem;
    }
    .about__descr {
        font-size: 1.25rem;
        width: 70%;
    }
    .work__title {
        font-size: 2.5rem;
    }
    .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
            grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }
    .grid__item--descr {
        font-size: 1.15rem;
        margin-bottom: 3rem;
    }

    input[type="text"],
    [type="email"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2.5px solid white;
    width: 375px;
    height: 35px;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    }
    textarea {
        width: 375px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: .90rem!important;
        margin-right: 0;
    }

    .form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    .form__name {
        margin-right: 0;
    }
    .form__email {
        margin-right: 0;
    }
    .form__button {
        width: 375px;
        font-size: 1.15rem;
        padding: 6px 24px;
    }
    .social-media2 {
        gap: 4rem;
    }
    .social-media2 img {
        width:52px;
        height: 52px;
    }
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
} 

@media only screen and (max-width: 400px) {
   
    #top {
        min-height: 600px; 
        /* min-height: auto;  change by amit */
    }
    .page-header__item {
        width: 100px;
        height: 100%;
    }
    .navigation-list {
        margin-right: .5rem;
    }
    .navigation-list__item {
        font-size: 1.75rem;
    }
    .navigation-list li {
        margin: .75rem .25rem;
    }
    .profile__name {
        font-size: 1.85rem;
        padding-top: 6rem;
        
    }
    .profile__dev {
        font-size: 1.25rem;
    }
    .social-media {
        gap: 3rem;
        margin-top: 3.5rem;
    }
    
    .social-media img {
        width: 90px;
        height: 90px;
    }
    .about__title {
        font-size: 2.5rem;
    }
    .about__descr {
        font-size: 1.1rem;
        width: 70%;
    }
    .work__title {
        font-size: 2.5rem;
    }
    .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
            grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }
    .grid__item--descr {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    textarea {
        width: 250px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: .90rem!important;
        margin-right: 0;
    }
input[type="text"],
[type="email"] {
background-color: rgba(255, 255, 255, 0.15);
border: 2.5px solid white;
width: 250px;
height: 35px;
font-weight: bolder;
font-size: 1rem;
color: white;
}
.form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
.form__name {
    margin-right: 0;
}
.form__email {
    margin-right: 0;
}
.form__button {
    width: 250px;
    font-size: 1.15rem;
    padding: 6px 24px;
}
.social-media img {
    width: 62px;
    height: 62px;
}
.social-media2 img {
    width:52px;
    height: 52px;
}
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    } 
}
     
    
@media only screen and (max-width: 359px) {
    #top {
        min-height: 600px; 
        /* min-height: auto;  change by amit */
    }
    
    .page-header {
        padding-right: 1rem;
    }
    .page-header__item {
        width: 100px;
        /* flex: 0 1 200px; */
        height: 100%;
    }
    .navigation-list__item {
        font-size: 1.25rem;
    }
    .navigation-list {
        margin-right: 0rem;
    }
    .navigation-list li {
        margin: .25rem .25rem;
    }
    .profile__name {
        font-size: 1.85rem;
        padding-top: 6%;
    }
    .profile__dev {
        font-size: 1rem;
    }
    .social-media {
        gap: 3rem;
        margin-top: 3.5rem;
    }
    .about__title {
        font-size: 2.25rem;
    }
    .about__descr {
        font-size: 1.05rem;
        width: 70%;
    }
    .work__title {
        font-size: 2.25rem;
    }
    #about .button {
        font-size: 1rem;
    }
    .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
            grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }
    .grid__item--title {
        font-size: 1.5rem;
    }
    .grid__item--descr {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    .contact__title {
        font-size: 2.25rem;
    }
    .contact__title2 {
        font-size: 1.25rem;
    }
    textarea {
        width: 250px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: .90rem!important;
        margin-right: 0;
    }
input[type="text"],
[type="email"] {
background-color: rgba(255, 255, 255, 0.15);
border: 2.5px solid white;
width: 250px;
height: 35px;
font-weight: bolder;
font-size: 1rem;
color: white;
}
.form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
.form__name {
    margin-right: 0;
}
.form__email {
    margin-right: 0;
}
.form__button {
    width: 250px;
    font-size: 1.15rem;
    padding: 6px 24px;
}
.social-media img {
    width: 62px;
    height: 62px;
}
.social-media2 img {
    width:52px;
    height: 52px;
}
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
} 

@media only screen and (max-width: 255px) {
    #top {
        min-height: 500px;
        /* min-height: auto;  change by amit */
    }
    .page-header {
        padding-right: 1rem; 
    }
    .page-header__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 .875 200px;
                flex: 0 .875 200px;
        height: 112px;
    }
    .navigation-list__item {
        font-size: 1rem;
    }
    .navigation-list {
        margin-right: 0rem;
    }
    .navigation-list li {
        margin: .15rem .15rem;
    }
    .profile__name {
        font-size: 1.5rem;
        padding-top: 3rem;
    }
    .profile__dev {
        font-size: .85rem;
    }
    .social-media {
        gap: 2rem;
        margin-top: 3.5rem;
        
    }
    .social-media__icon {
        width: 52px;
        height: auto;
    } 
    
    .about__title {
        font-size: 1.5rem;
    }
    .about__descr {
        font-size: .90rem;
        width: 70%;
    }
    .work__title {
        font-size: 1.5rem;
    }
    #about .button {
        font-size: .75rem;
    }
    .grid {
        display: -ms-grid;
        display: grid;
        -webkit-column-gap: 1.75rem;
           -moz-column-gap: 1.75rem;
                column-gap: 1.75rem;
        row-gap: 1.75rem;
            grid-template-areas: "griditem1"
                            "griditem2";
        justify-items: center;                
    }
    .grid__item--title {
        font-size: 1.25rem;
    }
    .grid__item--descr {
        font-size: .80rem;
        margin-bottom: 3rem;
    }
    .contact__title {
        font-size: 1.5rem;
    }
    .contact__title2 {
        font-size: .90rem;
    }
    textarea {
        width: 200px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 2.5px solid white;
        font-size: .90rem!important;
        margin-right: 0;
    }
input[type="text"],
[type="email"] {
background-color: rgba(255, 255, 255, 0.15);
border: 2.5px solid white;
width: 200px;
height: 35px;
font-weight: bolder;
font-size: 1rem;
color: white;
}
.form__name label,
    .form__email label,
    .form__message label {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.664);
        opacity: 1;
    }
.form__name {
    margin-right: 0;
}
.form__email {
    margin-right: 0;
}
.form__button {
    width: 200px;
    font-size: 1.15rem;
    padding: 6px 24px;
}
.social-media2 {
    gap: 2rem;
}
.social-media2 img {
    width:46px;
    height: 46px;
}
.built {
    font-size: .65rem;
}
    .grid__item1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1;                
    }
    .grid__item2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;                
    }
}







